@font-face {
    font-family: 'DSEG7Classic';
    src: url('../../fonts/DSEG7Classic-Regular.woff') format('woff'), url('../../fonts/DSEG7Classic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


.widget-clock {
    background-color: rgb(0, 0, 0);
}

.widget-clock h1 {
    font-size: 30px;
}

.widget-clock h2 {
    font-family: 'DSEG7Classic';
    font-size: 76px;
}